<div class="wrapper">
    <p>Config params: <img src="/images/smiley.png" alt="Smiley" class="smiley"></p>
    <ul>
        <% for key, value in @request.user.config %>
            <li><%= h key %> = <%= h value %></li>
        <% end %>
    </ul>

    <p>Request params:</p>
    <ul>
        <% for key, value in @request.params %>
            <li><%= h key %> = <%= h value %></li>
        <% end %>
    </ul>
</div>
